.container{
    width: 80%;
    text-align: center;
    margin: auto;
}
body{
    background-color:cadetblue
}
h1{
    color: blue;
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 5px 0 #232931;
    margin: 30px;

    
}
.dice{
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    

}
 p{
    font-family:Indie Flower, serif ;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 50px;
 }

 footer{
 margin-top: 5%;
 color: #EEEEEE;
 text-align: center;
 font-family: 'Indie Flower', cursive;
 }